/*
Team dinoClock: Yaying Liang Li, Thomas Yu
SoftDev
K20 -- Throw Some Forking STUYLE On It
2021-11-28
*/

body{
  font-family:sans-serif;
  background:gray;
  color:black;
  text-align:center;
  margin:0%;
}

a{
  text-decoration:none;
  color:white;
}

.nav{
  text-align:left;
  word-spacing:10px;
  background:darkgray;
  margin:0%;
  padding-left:1%;
  padding-top:0.5px;
  padding-bottom:0.5px;
}

textarea{
  font-family:sans-serif;
}
