<!DOCTYPE html>
<!-- 
    CircleTable — Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00
    2021-11-01


<html>

  <head>
    <title> REGISTRATION PAGE </title>
  </head>

  <body>
    <h4>
        CircleTable — Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo <br>
        SoftDev <br>
        P00 <br>
        2021-10-29 <br>
      </h4>
    <h1>
      Welcome to CircleTable Stories!
    </h1>
      
    <form action="/auth"> 
    <h3>
        Enter a username below to proceed:
        <input type="text" name="username">

        Enter a password below to proceed.
        <input type="text" name="password">
      
        Enter an email below to proceed.
        <input type="text" name="email">

        <input type="submit" name="sub1">
    </h3>
    </form>
    <br>
    <a href>
  </body>

</html>
