<!DOCTYPE html>
<!-- 
    CircleTable - Christopher Liu, Yusuf Elsharawy, Naomi Naranjo, Deven Maheshwari
    SoftDev
    P00: CircleStories

    Adding to Story Page
 -->

<html>
    <head>
        <title>Adding to Story</title>
    </head>
    <body>
        <h2>Add a new scene to your story</h2>
        <p>{{ last_block }}</p> 
        * Remember you can only add scenes to the end of the story!
        <br><br>
        <form action="submit_block" method="post">
            <label for="text">Your continuation:</label>
            <br>
            <textarea name="text" placeholder="Continue the story here..."></textarea>
            <br>
            <input type="submit">
        </form>
    </body>
</html>