<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Guest Landing Page
-->

<!DOCTYPE html>
<html>
    <head>
        <title>CircleStories</title>
    </head>
    <body>
        <!-- Nav -->
        <p>
            <a href="{{ url_for('index') }}">Home</a>
        </p>
        
        <!-- Page Content -->
        <h1>Welcome to CircleStories, an interactive and collaborative storytelling
            game!</h1>
        <h2>Please <a href="{{ url_for('login') }}">log in</a> or
            <a href="{{ url_for('register') }}">register</a> to continue.</h2>
    </body>
</html>
