<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Guest Landing Page
-->

{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>
        Welcome to CircleStories, an interactive and collaborative
        storytelling game!</h1>
    <h3>
        Log in to contribute an entry to an existing story or start your
        own!
    </h3>
    <h2>Please <a href="{{ url_for('login') }}">log in</a> or
        <a href="{{ url_for('register') }}">register</a> to continue.</h2>
{% endblock %}
