<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Naomi Naranjo, Deven Maheshwari
    SoftDev
    P00: CircleStories

    Registered User Homepage
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome, {{ username }}!</h1>
        <h2>You are successfully logged in.</h2>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
        <p><a href="{{ url_for('add') }}">Add to Story</a></p>
        <p><a href="{{ url_for('view') }}">View Story</a></p>
        <p><a href="{{ url_for('new') }}">New Story</a></p>
    </body>
</html>
