<!DOCTYPE html>
<!-- 
    CircleTable — Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00
    2021-10-29

-->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h4>
        CircleTable — Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo <br>
        SoftDev <br>
        P00 <br>
        2021-10-29 <br>
      </h4>
    <h1>
      Welcome to CircleTable Stories!
    </h1>

    <form action="/auth"> 
      <h3>
      Enter your username below to proceed:
      <input type="text" name="username">
      <br>
      <br>
      Enter your password below to proceed:
      <input type="text" name="password">
      </h3>
      <br>

      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
