<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Login Page

    Editors
    Team dinoClock: Yaying Liang Li, Thomas Yu
    SoftDev
    K20 -- Throw Some Forking STUYLE On It
    2021-11-28
-->

{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
  <div class="box">
    <h1>Log In</h1>
    <h2>Please enter your username and password below to proceed.</h2>
    <form action="/login", method="POST">
        <p>Username: <input type="text" name="username" required></p>
        <p>Password: <input type="password" name="password" required></p>
        {% if error %}
        <p style="color:red">{{ error }}</p>
        {% endif %}
        <input type="submit", name="sub" value="Log In">
    </form>

    <p>New user? <a href="{{ url_for('register') }}">Register</a> here.</p>
  </div>
{% endblock %}
