<!DOCTYPE html>
<!-- 
    CircleTable - Christopher Liu, Yusuf Elsharawy, Naomi Naranjo, Deven Maheshwari
    SoftDev
    P00: CircleStories

    Creating a New Story
 -->

<html>
    <head>
        <title>New Story</title>
    </head>
    <body>
        <h2>Create a New Story</h2>
        <form action="submit_block" method="post">
            <label for="text">Your New Story</label>
            <br>
            <textarea name="text" placeholder="Title of new story"></textarea>
            <br><br>
            <textarea name="text" placeholder="Start new story here..."></textarea>
            <br>
            <input type="submit">
        </form>
    </body>
</html>