<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Naomi Naranjo, Deven Maheshwari
    SoftDev
    P00: CircleStories

    Page for Creating a New Story
-->

<!DOCTYPE html>

<html>
    <head>
        <title>New Story</title>
    </head>
    <body>
        <h2>Create a New Story</h2>
        <p>
            Begin a new story here! Give it a title and write the beginning.
            Other users will be able to add on with their own ideas!
        </p>
        <form action="/new_story" method="POST">
            <p>
                <textarea name="title" placeholder="Poignant story title here..." rows="1" cols="70"></textarea>
            </p>
            <p>
                <textarea name="text" placeholder="It was a dark and stormy night..." rows="20" cols="70"></textarea>
            </p>
            <input type="submit" value="Create new story!">
        </form>
    </body>
</html>
