<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Page for Creating a New Story
-->

<!DOCTYPE html>

<html>
    <head>
        <title>New Story</title>
    </head>
    <body>
        <!-- Nav -->
        <p>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </p>
        
        <!-- Page Content -->
        <h1>Create a New Story</h1>
        <p>
            Begin a new story here! Give it a title and write the beginning.
            Other users will be able to add on with their own ideas!
        </p>
        <form action="/new_story" method="POST">
            <p>
            {% if no_title %}
                <label style="color: red">A title is required</label><br>
            {% endif %}
            <textarea name="title" placeholder="Poignant story title here..." rows="1" cols="70"></textarea>
            </p>
            
            <p>
            {% if no_content %}
                <label style="color: red">Content is required</label><br>
            {% endif %}
            <textarea name="text" placeholder="It was a dark and stormy night..." rows="20" cols="70"></textarea>
            </p>

            <input type="submit" value="Create new story!">
        </form>
    </body>
</html>
