<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Registration Page
-->

{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <h2>Welcome to CircleStories! Complete the following fields to register.</h2>
    <form action="/register", method="POST">
        <p>Username: <input type="text" name="username" required></p>
        <p>Password: <input type="password" name="password" required></p>
        <p>Repeat Password: <input type="password" name="password_check" required></p>

        {% if errors %}
        <ul style="color:red">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <input type="submit", name="sub" value="Register">
    </form>

    <p>Already registered? <a href="{{ url_for('login') }}">Log in</a> here.</p>
{% endblock %}
