<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories
    Page for Viewing an Existing Story

    Editors
    Team dinoClock: Yaying Liang Li, Thomas Yu
    SoftDev
    K20 -- Throw Some Forking STUYLE On It
    2021-11-28
-->
<style>
  body{
    font-family:sans-serif;
    background:#6C969D;
    color:black;
    text-align:center;
    margin:0%;
  }

  a{
    text-decoration:none;
    color:#392B58;
  }

  .nav{
    text-align:left;
    word-spacing:10px;
    background:#99D5C9;
    margin:0%;
    padding-left:1%;
    padding-top:0.5px;
    padding-bottom:0.5px;
  }

  .contribution{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;
    padding:2%;
    padding-top:0;
  }

  .picbox{
    background: #392B58;
    padding: 20px;
    position: relative;
    left: 20%;
  }

</style>

{% extends "base.html" %}
{% block title %}{{ story_title }}{% endblock %}

{% block content %}
    <h1>{{ story_title }}</h1>
    {% if story_blocks %}
        {% for contributor, (block_text, block_image) in story_blocks %}
        <div class='contribution'>
            <p>
                <b>[{{ contributor|default("Unknown Contributor") }}]</b>
                <br>
                {{ block_text }}
            </p>

            {% if block_image %}
              <div class="picbox">
                <img src="{{ block_image }}" style="max-height:300px">
              </div>
            {% endif %}

        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
