<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories
    Page for Viewing an Existing Story
-->

{% extends "base.html" %}
{% block title %}{{ story_title }}{% endblock %}

{% block content %}
    <h1>{{ story_title }}</h1>
    {% if story_blocks %}
        {% for block in story_blocks %}
        <p>{{ block[0] }}</p>
        {% if block[1] %}
        <img src="{{ block[1] }}" style="max-height:300px">
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
