<!DOCTYPE html>
<!-- 
    CircleTable - Christopher Liu, Yusuf Elsharawy, Naomi Naranjo, Deven Maheshwari
    SoftDev
    P00: CircleStories

    Viewing Story Page
 -->

<html>
    <head>
        <title>View Story</title>
    </head>
    <body>
        <h2>Viewing Created Stories</h2>
        <p>{{ last_block }}</p> 
        <br>
        <form action="submit_block" method="post">
            <label for="text">Your continuation:</label>
            <textarea name="text" placeholder="Continue the story here..."></textarea>
            <br>
            <input type="submit">
        </form>
    </body>
</html>